<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>solitaireslasher.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B158534B2855CB392378F803BFA49791384A3F93</string>
				<key>dateExpires</key>
				<string>3/22/27</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A799KC8Q79.com.nethman.solitaireslasher</string>
				<key>com.apple.developer.team-identifier</key>
				<string>A799KC8Q79</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>solitaireslasher.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>45596e38-d8f6-4e86-be4a-5f416b6e9c99</string>
				<key>dateExpires</key>
				<string>3/22/27</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A799KC8Q79</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
